<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Students Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <table>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Age</th>
        <th>Address</th>
        <tr th:each="student : ${list}">
            <td th:text="${student.getName()}"></td>
            <td th:text="${student.getEmail()}"></td>
            <td th:text="${student.getPhone()}"></td>
            <td th:text="${student.getAge()}"></td>
            <td th:text="${student.getAddress()}"></td>
            <td><a th:href="@{'/editStudent/' + ${student.getId()}}">Edit</a></td>
            <td><a th:href="@{'/deleteStudent/' + ${student.getId()}}">Delete</a></td>
        </tr>
    </table>
</body>
</html>